@charset "utf-8";




body {
	font-family:"MS PGothic","Osaka",Arial,sans-serif;
	background-color: #ddddff;
	font-size: 12px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
h1,h2,h3,h4,h5,p,ul,li,dl,dt,dd{
	margin: 0px;
	padding: 0px;
}

img,iframe,object {
	max-width:100%;
}

.ie7 img,.ie7 object/ {
	width:100%;
}

.ie8 img,.ie8 object {
    width:auto\9
}


img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type:none;
} 

input,textarea,select {
	font-size: 1em;
}

.big {
	font-size: 150%;
	line-height: 28px;
}

.text_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.cr {
	clear: both;
}

.cr hr {
	display:none;
}

#right img {
	border:none;
}

#right {
	clear: both;
	text-align: right;
}

#right a {
	padding:5px;
}
