@charset "shift_jis";





#foot_bg {
	color: #ffffff;
	background:-webkit-gradient(
	linear, left top, left bottom, 
	from(#2352ff),
	color-stop(0.50, #7b85ff),
	color-stop(0.50, #7b85ff),
	color-stop(0.69, #7b85ff),
	to(#7b85ff));
	background:-webkit-gradient(
	linear, left top, left bottom, 
	from(#2352ff),
	to(#7b85ff));
	font-size: 9px;
	text-align: center;
	clear: both;
	width: 100%;
	padding: 13px 0px 5px;
	-webkit-box-shadow: 0px -2px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px -2px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px -2px 2px rgba(0, 0, 0, .2);

}

#foot_bg a {
	color: #ffffff;
	text-decoration: none;
	padding: 8px 1px;
}

#foot_bg a:hover {
	text-decoration: underline;
}

#foot_bg p {
	padding: 0px 20px 5px;
}

.menu_list2 {
	display:none;
	background : #2352ff;
	color: #ffffff;
	margin: 10px 15px;
}

.footer_menu a {
	color: #ffffff !important;
	text-decoration: none;
}

.footer_menu a:hover {
	text-decoration: underline;
}

.footer_menu h3 {
	background : url(../images/footer_li.gif) no-repeat;
	background-position:right center;
	font-size: 100%;
	color:#ffffff;
	float: left;
	margin-left: 10px;
	line-height:22px;
	height:22px;
	padding-right:25px;
}

.footer_menu {
	text-align: left;
	padding: 5px 15px 5px 15px;
}

.footer_menu ul li {
	font-weight:normal;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	line-height:22px;
	height:22px;
	border-bottom: 1px dotted #ffffff;
}

#designby {
	background : #7b85ff;
	color: #999999;
	text-align: right;
	font-size: 6px;
	margin: 0px;
	padding: 3px;
}

#designby a {
	color: #999999;
	text-decoration: none;
}
